.App {
  text-align: center;
}

.App-header {
  min-height: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 3px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #31343b;
  border-bottom: solid 1px #9e9e9e;
  box-shadow: 0 0 5px #999;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-title {
  font-family: 'Gilroy ExtraBold', sans-serif;
  font-size: calc(10px + 4vmin);
  font-weight: bold;
}

.App-description {
  font-size: calc(10px + 1vmin);
  font-weight: normal;
}


@media screen and (min-width:768px) {
  .App-content {
    margin: 5rem;
  }
}

@media screen and (max-width:767px) {
  .App-content {
    margin: 2rem;
  }
}
