.App-header {
  z-index: 100;
  height: 5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #31343b;
  border-bottom: solid 1px #9e9e9e;
  box-shadow: 0 0 3px #999;
}

.App-title {
  font-family: 'Gilroy ExtraBold', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.App-content {
  z-index: 50;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 100px;
}

.App-loading {
  margin-top: calc(50vh - 100px);
}
