.NewAccount-content {
  height: calc(100vh - 5rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewAccount-title {
  font-family: 'Gilroy ExtraBold', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 30px 0 10px 0;
}

.NewAccount-note {
  margin: 0 10px;
  border-radius: 10px;
  background-color: #582d31;
  box-shadow: 0 2px 10px #999;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 70px;
}

.NewAccount-note-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 0 10px;
}

.NewAccount-card {
  border-radius: 10px;
  background-color: #06153f;
  box-shadow: 0 2px 10px #999;
  min-height: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  position: relative;
  padding: 20px;
}

.NewAccount-card-title {
  font-family: 'Gilroy ExtraBold', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.NewAccount-card-content {
  font-size: 1.5rem;
  padding: 0 10px;
  text-align: center;
}

.NewAccount-card-icon {
  position: absolute;
  font-size: 1.8rem;
  top: 5px;
  right: 5px;
}

@media screen and (min-width:768px) {
  .NewAccount-note {
    width: 760px;
  }

  .NewAccount-card-area {
    display: flex;
  }

  .NewAccount-card {
    margin: 0px 10px 20px 10px;
    width: 720px;
  }
}

@media screen and (max-width:767px) {
  .NewAccount-note {
    width: 80vw;
  }

  .NewAccount-card-area {
    display: block;
  }

  .NewAccount-card {
    width: 80vw;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}