.Send-content {
  z-index: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Send-title {
  font-family: 'Gilroy ExtraBold', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 30px 0 10px 0;
}

.Send-note {
  margin: 30px 10px 20px 10px;
  border-radius: 10px;
  background-color: #4a7e7b;
  box-shadow: 0 2px 10px #999;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 70px;
}

.Send-note-title {
  font-family: 'Gilroy ExtraBold', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
}

.Send-note-text {
  font-size: 1.5rem;
}

.Send-card {
  border-radius: 10px;
  background-color: #06153f;
  box-shadow: 0 2px 10px #999;
  min-height: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 20px;
}

.Send-card-title {
  font-family: 'Gilroy ExtraBold', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.Send-card-content {
  font-size: 1.5rem;
  padding: 0 10px;
  text-align: center;
}

.Send-input {
  margin-top: 10px;
}

.Send-button {
  border-radius: 15px;
  padding: 10px 0;
  margin: 30px 0 20px 0;
}

.Send-check-balance {
  background-color: #2a2f33;
}

@media screen and (min-width:769px) {
  .Send-note {
    width: 720px;
  }

  .Send-card-area {
    display: flex;
  }

  .Send-card {
    margin: 0px 10px;
    width: 720px;
  }

  .Send-input {
    width: 500px;
  }
}

@media screen and (max-width:768px) {
  .Send-note {
    width: 80vw;
  }

  .Send-card-area {
    display: block;
  }

  .Send-card {
    width: 80vw;
    padding-bottom: 10px;
  }

  .Send-input {
    width: 80vw;
  }
}
