.note {
  margin: 20px auto 0 auto;
  padding: 10px;
}

.note-title {
  font-family: 'Gilroy ExtraBold', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.note-link {
  margin: 0px 10px;
}

.card {
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 0 2px 10px #999;
}

.card-title {
  font-family: 'Gilroy ExtraBold', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.card-content {
  font-size: 15px;
  padding: 0 10px;
}

@media screen and (min-width:768px) {
  .note {
    border-radius: 10px;
    border: 1px solid #999;
    width: 500px;
    height: 100px;
  }

  .card-area {
    display: flex;
  }

  .card {
    display: inline-block;
    margin: 30px 15px;
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width:767px) {
  .card-area {
    display: block;
  }

  .card {
    display: block;
    margin: 30px auto;
    width: 70vw;
    min-width: 200px;
    padding-bottom: 20px;
  }
}